$cWhite: #ffffff;
$cNavy-blue: #0B194E;
$cDark-blue: #01092A;
$cLight-blue: #697398;
$cRed: #6A021A;
$cDark-green: #2C3A00;
$cGreen: #546E02;
$cLight-green: #C3D58A;

h1{
    font-size: 2.5em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}

