@use "../abstract/variables" as *;

.table-page{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    input{
        display: block;
        margin-left: 0;
        margin-right: auto;
        font-size: 1.25rem;
    }
    .toggle-container{
        position: relative;

        
        .table-toggle-container{
            position: absolute;
            top: -55%;
            right: 0;
        }
    }

    button:hover{
        background-color: $cLight-green;
    }
    table{
        width: 100%;
        margin: 0 auto;
        color: $cWhite;
        font-size: 1.25rem;
        thead{
            tr{
                background-color: $cNavy-blue;
                th{
                    position: relative;
                    border: 3px solid $cDark-blue;
                    padding: 1em 0;
                    .add-book-btn{
                        position: absolute;
                        left: 0;
                        top: -55%;
                        width: 100%;
                    }
                    p{
                        padding: 0 1em;
                    }
                }
            }
        }
        tbody{
            tr{
                background-color: $cLight-blue;
                td{
                    border: 3px solid $cDark-blue;
                    padding: 1em;
                    p{
                        display: inline-block;
                        margin: auto;
                    }
                    button{
                        margin: 0 0.25em;
                    }
                }
            }
        }
    }
}